{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper wrapper-fancy-bg">
	
<div class="page">
	<div class="container">
				<ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList"><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="index.html" itemprop="item"><i class="far fa-home"></i></a><meta itemprop="name" content="Главная"><meta itemprop="position" content="1"></li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="kaizen-school.html" itemprop="item">Кайдзен школа</a><meta itemprop="name" content="Кайдзен школа"><meta itemprop="position" content="2"></li><li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span>Мастер-классы</span><meta itemprop="name" content="Мастер-классы"><meta itemprop="position" content="3"></li></ul>	</div>
	<section class="block">
		<div class="container">
			<h1 class="block-title">Мастер-классы</h1>
			        <div class="nav-wrapper ">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="classes.html">Все</a>
    </li>
          <li class="">
        <a href="classes/category/8.html">
          Развитие        </a>
      </li>
      </ul>
</div>
				<div class="row display-flex">
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/networking.html"
                 class="post-thumbnail class-card
               with-flag                              with-speaker                ">
                                  <div class="post-thumbnail-flag">
                                          Новый                                      </div>
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  1 урок                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Жаны жашоо курсу</p>
                  <p class="post-thumbnail-subtitle">Как собрать вокруг себя людей, которые будут приближать вас к вашим целям?</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/management.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  9 уроков                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Управление конфликтами</p>
                  <p class="post-thumbnail-subtitle">Как правильно вести себя в ситуации конфликта, чтобы минимизировать ущерб и выйти из него победителем?</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/mistakes.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  5 уроков                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Ошибки, ведущие к успеху</p>
                  <p class="post-thumbnail-subtitle">Как воспринимать ошибки, чтобы они помогали шагать вверх?</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/scaling.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  4 урока                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Диапазон мышления и масштабирование</p>
                  <p class="post-thumbnail-subtitle">Как при помощи расширения диапазона мышления масштабировать свой бизнес?</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/life_lessons.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  4 урока                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Уроки жизни</p>
                  <p class="post-thumbnail-subtitle">Какую роль вы играете в спектакле жизни? Кто автор сценария вашей жизни?</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/fatherhood2.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  7 уроков                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Часть 2. Отцовство как бизнес-проект</p>
                  <p class="post-thumbnail-subtitle">Достигаем успеха в воспитании детей и создании счастливой семьи</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/fatherhood1.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  9 уроков                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Часть 1. Отцовство как бизнес-проект</p>
                  <p class="post-thumbnail-subtitle">Достигаем успеха в воспитании детей и создании счастливой семьи</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/answer.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  5 уроков                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Ответы на вопросы</p>
                  <p class="post-thumbnail-subtitle">Как влияет на результат быстрота и эффективность? Что поможет нам быть более эффективным - наука или вера? Эмоции - это товар или ресурс?</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/stimulus2.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  4 урока                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Часть 2. Стимул - Мотивация - Стремление</p>
                  <p class="post-thumbnail-subtitle">Что нужно для достижения полного и всестороннего успеха в любом деле? Из каких компонентов состоит счастье? К чему правильно и эффективно стремиться? </p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/stimulus1.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  4 урока                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Часть 1. Стимул - Мотивация - Стремление</p>
                  <p class="post-thumbnail-subtitle">Почему люди все время ищут мотивацию? В чем разница между стимулом и мотивацией? К чему правильно и эффективно стремиться?</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/solutions.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  9 уроков                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Алгоритм принятия правильных решений</p>
                  <p class="post-thumbnail-subtitle">Как принимать правильные решения в условиях неопределенности, недостатке информации и противодействия?
</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/goal_setting.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  4 урока                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Целеполагание</p>
                  <p class="post-thumbnail-subtitle">Как определять и правильно ставить цели?</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/mission.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  10 уроков                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Миссия. Икигай </p>
                  <p class="post-thumbnail-subtitle">Что такое миссия и как её найти?
</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/fulcrum.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  9 уроков                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large">Точка опоры</p>
                  <p class="post-thumbnail-subtitle"></p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
                                  <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="classes/efficiency.html"
                 class="post-thumbnail class-card
                                             with-speaker                ">
                                <div class="post-thumbnail-body">
                  <div class="post-metadata">
                                                                  <div class="post-metadata-item post-metadata-item-with-bg">
                          Развитие                        </div>
                                                                                      <div class="post-metadata-item">
                                                  8 уроков                                              </div>
                                      </div>
                  <p class="post-thumbnail-title text-large"> Эффективность</p>
                  <p class="post-thumbnail-subtitle">Эффективность - это основной закон мироздания и всех биологических систем. Выживает не сильнейший, а эффективный.</p>
                </div>
                                  <div class="post-thumbnail-footer">
                                          <div class="post-speaker">
                        <div class="post-speaker-img">
                                                      <img src="https://storage.googleapis.com/margulan-storage/sm_4af5497616c318e7307bdabb7ffe04a7.png" alt=""/>                                                  </div>
                        <div class="post-speaker-body">
                          <p class="post-speaker-title">
                            Маргулан Сейсембаев                          </p>
                          <p class="post-speaker-subtitle">
                            Бизнесмен, инвестор, исследователь жизни и путешественник                          </p>
                        </div>
                      </div>
                                        </div>
                                              </a>
            </div>
          				</div>
									<!-- Pagination -->
					<ul class="pagination">
						<li class="active"><a href="classes.html">1</a></li><li><a href="{% url 'class' %}">2</a></li><li class="next"><a rel="next" href="classes%3Fpage=2.html"><i class="far fa-angle-right"></i></a></li>					</ul>
					<!-- End Pagination -->
									</div>
	</section>
</div>
	{% endblock %}